@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

/*Generic CSS*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-main:  'Inter', sans-serif;

    --fs-xl: 3rem;
    --fs-700: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-200: .6rem;

    --fw-regular: 400;
    --fw-bold: 600;
    --fw-black: 800;
}

body,
input,
textarea,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-main);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    color: #161616;
}

button, input {
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

body {
    background-color: #FFF7ED;
}

#root {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.nav {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #FFF7ED;
    padding: 3rem 1.5rem;
}

.nav-white {
    padding: 2rem 0;
    background-color: #fff;
}

.nav--img {
    margin-right: auto;
}

.nav--img > img {
    width: 120px;
}

.nav > a {
    font-weight: var(--fw-bold);
    color: #4D4D4D
}

.nav > .active-link {
    text-decoration: underline;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    background-color: #252525;
    color: #AAAAAA;
}

/* Main Home */

.main-home {
    background-color: rgba(0, 0, 0, .5);

    position: relative;
}

.main-home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("./images/home-bg.png");
    background-position: center;
    background-size: cover;
    z-index: -999;
}

.main-home--content {
    max-width: 620px;
    padding: 4rem 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.main-home--content > h2 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-black);
    color: #fff;
    margin-bottom: .75em;
}

.main-home--content > p {
    color: #fff;
}

/* Main About */

.main-about--img {
    height: 200px;
    background-image: url("./images/about-bg.png");
    background-size: cover;
}

.main-about--content {
    max-width: 620px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.main-about--content > h2 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    margin-bottom: .75em;
}

.main-about--content > p {
    margin-bottom: 1em;
}

.van-block {
    background-color: #FFCC8D;
    border-radius: 5px;
    padding: 2rem;
    margin-top: 5rem;
}

.van-block > h3 {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}

.van-block > .button-about {
    display: block;
    width: fit-content;
    margin-top: 1.25rem;
    padding: 1em 1.5em;
    border-radius: 10px;
    font-weight: var(--fw-bold);

    color: #fff;
    background-color: #161616;
}

/* Main Vans */

.main-vans, .main-detail, .main-hosts {
    padding: 3rem 2rem 5rem;
    margin: auto;
    max-width: 720px;
}

.main-vans > h2 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-black);
    margin-bottom: .5em;
}

.vans-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 2em;
}

.vans-filter--clean {
    margin-left: auto;
    text-decoration: underline;
}

.filter {
    text-transform: capitalize;
    padding: .8em 1.25em;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;

    user-select: none;
    cursor: pointer;
}

.vans-filter--clean {
    cursor: pointer;
}

.vans-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.van-img {
    margin-bottom: .75em;
    border-radius: 5px;
}

.van-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.van--name {
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    flex-grow: 1;
}

.van--name > a {
    display: block;
    width: fit-content;
}

.van--price {
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    position: relative;
    width: fit-content;
}

.van--price:not(.detailed)::after {
    content: "/day";
    font-size: .6em;
    position: absolute;
    top: 100%;
    right: 0;
}

.van--price.detailed::after {
    content: "/day";
    font-size: .75em;
    font-weight: var(--fw-regular);
    position: absolute;
    bottom: 3px;
    left: 100%;
}

.van--type-wrapper {
    flex-basis: 100%;

}

.van--type {
    width: fit-content;
    text-transform: capitalize;
    padding: .5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

.van--type-rugged { background-color: #115E59; color: #FFEAD0 }
.van--type-simple { background-color: #E17654; color: #FFEAD0 }
.van--type-luxury { background-color: #161616; color: #FFEAD0 }

/* Main Van Detail */

.main-detail .van--name {
    font-size: var(--fs-xl);
    font-weight: var(--fw-black);
}

.detail--back {
    text-decoration: underline;
    position: relative;
}

.detail--container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
}

.detail--image {
    border-radius: 5px;
}

.link {
    display: block;
    width: fit-content;
    margin-bottom: 2em;
}

.detail--content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
}

@media (max-width: 750px) {
    .detail--container, .detail--container {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

/* Others */

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 2em;
    padding: .75rem;
    border-radius: 5px;

    color: #fff;
}

.button:disabled {
    cursor: not-allowed;
    opacity: .5;
}

.orange-bg { background-color: #FF8C38; }
.black-bg { background-color: #161616; }

.arrow {
    color: #858585;
}

.txt-center {
    text-align: center;
    font-weight: var(--fw-bold);
    font-size: var(--fs-500);
    width: 100%;
}

.hover-opacity {
    transition: opacity .2s ease-out;
}

.hover-opacity:hover {
    opacity: .8;
}

.loader {
    position: relative;
    width: 130px;
    height: 100px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#0277bd, #0277bd),
    linear-gradient(#29b6f6, #4fc3f7), linear-gradient(#29b6f6, #4fc3f7);
    background-size: 80px 70px, 30px 50px, 30px 30px;
    background-position: 0 0, 80px 20px, 100px 40px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

.loading > h2 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-black);
}

/* Host */

.host-vans {
    display: flex;
    flex-direction: column;
    max-width: 620px;
    margin: 0 auto;
    padding: 3rem 2rem;
    gap: .75rem;
}

.host-vans > h2, .title {
    font-weight: var(--fw-black);
    font-size: var(--fs-xl);
    margin-bottom: 2rem;
}

.host-vans--cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.host-vans--card {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1.5em 2em;
    border-radius: 5px;
    gap: 15px;
    background-color: white;
}

.host-vans--card > img {
    max-width: 80px;
    border-radius: 5px;
}

.host-vans--detail {
    padding: 1.5em 2em;
    border-radius: 5px;
    background-color: white;
}

.host-vans--detail > header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.host-vans--detail > header > img {
    max-width: 175px;
    border-radius: 5px;
}

.host-vans--card .vans-name {
    font-weight: var(--fw-bold);
}

.host-vans--card .vans-price {
    color: #4D4D4D;
}

.host-vans--card--text {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.host-vans--detail .vans-name {
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
}

.host-vans--detail .vans-price {
    font-weight: var(--fw-bold);
}

.host-vans--detail .vans-price::after {
    content: "/day";
    font-weight: var(--fw-regular);
}

.host-vans--detail .van--type, .detail--container .van--type {
    cursor: auto;
    user-select: none;
}

.van-details {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.van-detail {
    text-transform: capitalize;
}

.detail-title {
    font-weight: var(--fw-bold);
}

.detail-title::after {
    content: " ";
}

.detail-price {
    font-weight: var(--fw-bold);
    font-size: var(--fs-500);
}

.detail-price::after {
    content: "/day";
    font-weight: var(--fw-regular);
    font-size: var(--fs-400);
}

.detail-van-img {
    width: 100px;
    border-radius: 5px;
}

/* Host Dashboard */

.host-header > :first-child { background-color: #FFEAD0}
.host-header > :last-child { background-color: #FFDDB2}

.center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 620px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
}

.review-score {
    font-weight: var(--fw-bold);
    font-size: var(--fs-500);
}

.review {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.rate {
    display: flex;
    align-items: center;
    gap: 2.5px;
}

.welcome, .income-title, .reviews-title {
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
    margin-bottom: 1.5rem;
}

.income {
    display: block;
    font-weight: var(--fw-black);
    font-size: var(--fs-xl);
    margin-top: .75em;
}

.underline { text-decoration: underline }
.bold { font-weight: var(--fw-bold) }

/* Income page */

.highlight {
    background-color: #FFDDB2;
}

.income-header, .transactions-section, .graph-container {
    display: flex;
    flex-direction: column;
    max-width: 620px;
    margin: 0 auto;
    padding: 3rem 2rem;
    gap: .5rem
}

.transactions-section {
    display: flex;
    flex-direction: column;
}

.transactions-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.transactions, .reviews {
    font-weight: var(--fw-bold);
    font-size: var(--fs-500);
}

.transaction-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.transaction-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 1.5em 2em;
    border-radius: 5px;
    gap: 15px;
    background-color: white;
}

.price {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}

/* Reviews page */

.reviews-main {
    display: flex;
    flex-direction: column;
    max-width: 620px;
    margin: 0 auto;
    padding: 3rem 2rem;
    gap: 3rem
}

.review-header {
    display: flex;
    flex-direction: row;
    gap: .25em;
}

.review-name {
    font-weight: var(--fw-bold);
}

.review-date {
    color: #8C8C8C;
}

.review-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid ;
    padding: 2em 0;
}

.rating-box {
    position: relative;
}

.empty-stars, .stars {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.rating-average--box {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.rating-average {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
}

.review-ratings {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1.5rem;
}

.review-percentage {
    justify-self: end;
}

.review-bar--empty {
    border-radius: 99px;
    background-color: #B9B9B9;
    height: 8px;
    overflow: hidden;
    position: relative;
}

.review-bar--filled {
    background-color: #FF8C38;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

/* Error Page */

.main-error {
    max-width: 620px;
    margin: 0 auto;
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-error > h2 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
}

/* Login */

.main-login {
    max-width: 620px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.main-login > h2 {
    text-align: center;
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}

.main-login > .form {
    display: flex;
    flex-direction: column;
}

.main-login > .form > input:not([type="button"]) {
    background-color: #fff;
    border: 1px solid #4D4D4D;
    border-top: none;
    padding: 1em;
}

.main-login > .form > input:not([type="button"]):first-child {
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #4D4D4D;
}

.main-login > .form > input:has(+ input[type="button"]) {
    border-radius: 0 0 5px 5px;
}

.alert-box {
    color: red;
    /* font-size: var(--fs-500); */
    /* font-weight: var(--fw-bold); */
    text-align: center;
    margin: 1em 0;
}